<div class="parent-sign-in">
    <div class="card">
        <div class="card-header">
            <p>Sign-up Now</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputConfirmPassword1" placeholder="Confirm Password">
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" routerLinkActive="active"
                    class=" form-control btn btn-primary btn-lg">Sign-up</button>
            </div>
        </div>

    </div>
</div>