
.card{
    margin: 0 auto;
    width: 20%;
    margin-top: 5%;
}
.card-body{
    padding: 2.25rem;
}
.card-header{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-bottom: 0px solid rgba(0,0,0,.125);
    padding-top:13%;
}
.card-footer{
    text-align: center;
    font-size: 12PX;
    background-color: white;
    border-top: 0px solid rgba(0,0,0,.125);
    padding: 2.25rem;
    padding-top: 0.25rem;
}
.form-check-input{
    margin-left: -4%;
}
.form-check-label{
margin-left: 5px;
}
.form-control{
    height: 43px;
}