<div class="parent-sign-in">
    <div class="card">
        <div class="card-header">
            <p>Log-in</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Enter Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="rememberMeCheck">Remember me</label>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" routerLinkActive="active"
                    class=" form-control btn btn-primary btn-lg">LOGIN</button>
            </div>
            <label style="font-size:12px;">Not a member?
                <button type="button" class="btn btn-link" (click)="getSignUpPage()">Sign
                    up now</button>
            </label>
        </div>

    </div>
</div>