.search-parent {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
  }
  .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 35px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 2px;
    margin-right: 8px;
  }
  
  .search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: #fff;
    line-height: 30px;
    transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 200px;
    transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
  }
  
  .search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
  }
  .ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: left;
    padding: 0.9rem 1.2rem;
    color: rgba(0, 0, 0, 0.77);
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bolder;
  }
  
  .ngx-pagination .disabled {
    color: black;
  }
  