<p>dashboard works!</p>
<div class="container">
    <ag-grid-angular style="width: 66%; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>

<div class="container-fluid pb-2">
    <div class="text-center">
        <span>
            <div class="col-md-12 py-2 text-right pr-0">
                <div class="search-parent">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search..." />
                        <span class="search_icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <a class="btn btn-secondary" data-toggle="modal" data-target="#modalAdd"
                        style="color: #FFFFFF;background-color: black"><i class="fa-plus-square fas ml-1"
                            style="color: #FFFFFF;cursor: pointer"></i> Add User</a>

                </div>

            </div>
            <ngx-datatable class="material" [columns]="columns" [rows]="rows" columnMode="force" [headerHeight]="50"
                [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true">
                <ngx-datatable-column name="Actions">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>
                            <i class="fa fa-edit text-primary p-1" style="cursor: pointer"></i>
                        </strong>
                        <strong>
                            <i class="fa fa-trash text-danger p-1" style="cursor: pointer;margin-left: 15px"></i>
                        </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Employee ID "></ngx-datatable-column>
                <ngx-datatable-column name="Employee Name"></ngx-datatable-column>
                <ngx-datatable-column name="Designation"></ngx-datatable-column>
                <ngx-datatable-column name="Date Of Joining"></ngx-datatable-column>
            </ngx-datatable><br>
            <!-- <div
                *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: currentPage ,totalItems: totalCount, id:'paginate' }">
            </div> -->
            <!-- <pagination-controls id="paginate">
            </pagination-controls> -->
        </span>
    </div>


</div>